.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  background-image: url('../../images/loginFormImage.jpg');
  border-radius: 25px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.blurred-wrapper {
  height: 685px;
  width: 400px;
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0.32) 0%,
    rgba(196, 196, 196, 0.05) 100%
  );
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(34px);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  position: relative;
}

.blurred-wrapper h1 {
  color: #f2f2f2;
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.blurred-wrapper h2 {
  color: #f2f2f2;
  font-weight: 200;
  font-size: 1.4rem;
}

.blurred-wrapper button {
  position: absolute;
  bottom: 2rem;
}

.blurred-wrapper button:hover {
  transform: translateY(-0.4rem);
  transform: translateX(0.4rem);
}
