.imageWrapper {
  height: 45rem;
  width: 35rem;
  display: flex;
  justify-content: center;
  padding: 2rem;

  background-image: url('../../images/loginFormImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}

.blurred-div {
  width: 40rem;
  height: 44rem;

  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0.32) 0%,
    rgba(196, 196, 196, 0.4) 100%
  );
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(34px);
  border-radius: 25px;
}
