.form {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  position: relative;
}

.form h1 {
  color: #f2f2f2;
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.form p {
  color: #f2f2f2;
  font-weight: 100;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-bottom: 5rem;
}

.form label {
  color: #f2f2f2;
  font-weight: 100;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form input {
  background: rgba(196, 196, 196, 0.08);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 25px;
  height: 5rem;
  width: 30rem;
  margin-bottom: 3rem;
}

.form button {
  position: absolute;
  background: #f2f2f2;
  color: black;
  bottom: 10rem;
}

.invalid {
  border: 3px solid red !important;
}

.valid {
  border: 3px solid greenyellow !important;
}
